<% title "Questions" %>

<table>
  <tr>
    <th>Subject</th>
    <th>Answer 1</th>
    <th>Answer 2</th>
    <th>Answer 3</th>
    <th>Answer 4</th>
    <th>Answer Correct</th>
    <th>Category</th>
    <th>Level</th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td><%=h question.subject %></td>
      <td><%=h question.answer_a %></td>
      <td><%=h question.answer_b %></td>
      <td><%=h question.answer_c %></td>
      <td><%=h question.answer_d %></td>
      <td><%=h question.answer_correct %></td>
      <td><%=h question.category %></td>
      <td><%=h question.level %></td>
      <td><%= link_to "Show", question %></td>
      <td><%= link_to "Edit", edit_question_path(question) %></td>
      <td><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Question", new_question_path %></p>
