
<div class="form-field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="form-field">
  <%= form.label :password, form.object.new_record? ? nil : "Password" %>
  <%= form.password_field :password %>
</div>

<div class="form-field">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
</div>