
<div class="form-field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="form-field">
  <%= form.label :password, "Contraseña" %>
  <%= form.password_field :password %>
</div>

<div class="form-field">
  <%= form.label :password_confirmation, 'Contraseña Confirmación' %>
  <%= form.password_field :password_confirmation %>
</div>