
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  
  <div class="form-block login-block">
    <h1>Login</h1>
    <div class="form-element">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="form-element">
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>
    </div>
  
    <div class="form-element">
      <%= f.check_box :remember_me %><%= f.label :remember_me, "Recordarme" %>
    </div>
  
    <div class="form-element">
      <%= f.submit "Entrar" %>
    </div>
  </div>
<% end %>